<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Meta tags for character set and responsive design -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS for styling -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <title>Srinivasa Refrigeration Works</title>
    </head>
    <body>
        <!-- Heading for account creation confirmation -->
        <h3>Account Created Successfully</h3> 

        <!-- Confirmation message displaying customer details -->
        <p>Hi <span th:text="${customerCredential.customer.firstName}"></span>, you have successfully created an account. <br><br>
        Your customer ID is: <span th:text="${customerCredential.customer.customerId}"></span>. <br><br>
        Your username is: <span th:text="${customerCredential.userCredential.username}"></span>. <br><br>
        Thank you for choosing us. We wish you a wonderful day!</p> <br><br>

        <!-- Buttons to navigate back to login or home page -->
        <a th:href="@{/SRW/customLogin}" class="btn btn-primary btn-sm mb-3" title="Go to Login page">Back to Login</a>
        <a th:href="@{/SRW/home}" class="btn btn-secondary btn-sm mb-3" title="Return to Homepage">Back to Home</a>
    </body>
</html>
